input {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
  }
}

.stickers {
  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  max-height: 250px;
  overflow-y: scroll;

  img {
    max-width: 70px;
  }

  button {
    background-color: red;
    background: unset;
    border: none;
    cursor: pointer;
  }
}