.footer {
  align-self: center;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 12px;
  justify-content: center;

  .heart {
    animation: beat .25s infinite alternate;
    color: #ff2d55;
    display: inline-block;
    margin: 0 5px;
  }
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}