@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  margin: 0;
  color: #fff;
  background: #161616;
  font-family: 'Satoshi', sans-serif;
  font-size: 15px;
}

.app {
  padding: 0 40px;

  .readme {
    background-color: #1b1b1b99;
    border-radius: 15px;
    padding: 40px;
  }
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  column-gap: 20px;
  height: 100%;
}